meetup:
    client_id: YOUR_MEETUP_CLIENT_ID
    client_secret: YOUR_MEETUP_CLIENT_SECRET
    email: YOUR_MEETUP_EMAIL
    password: YOUR_MEETUP_PASSWORD
    redirect_uri: YOUR_REDIRECT_URI
    geonames_user: YOURGEONAMES_USER
    api_rate_limit: 2
    radius: 25
    name_filter: True
    member_filter: True
    event_filter: True
    freq_filter: False
    period_filter: False
    period: 12
    period_min: 3
    min_members: 300
    min_events: 4
    min_freq: 60
    search_keys:
        - docker
        - kubernetes
        - microservices
        - cloud native
        - devops
    debug: False
locations:
    UK:
        - Manchester
        - Bristol
        - London
        - Birmingham
    DE:
        - Hamburg
        - Berlin
output:
    types:
         - table
         - xlsx
    sheet_name: meetup_mj
