meetup:
    client_id: YOUR_MEETUP_CLIENT_ID
    client_secret: YOUR_MEETUP_CLIENT_SECRET
    email: YOUR_MEETUP_EMAIL
    password: YOUR_MEETUP_PASSWORD
    redirect_uri: YOUR_REDIRECT_URI
    base_api_url: https://api.meetup.com
    auth_url: https://secure.meetup.com/oauth2/authorize
    access_url: https://secure.meetup.com/oauth2/access
    oauth_url:  https://api.meetup.com/sessions
    api_rate_limit: 2
    radius: 25
    name_filter: True
    member_filter: True
    event_filter: True
    freq_filter: False
    period_filter: False
    period: 12
    period_min: 3
    min_members: 300
    min_events: 4
    min_freq: 60
    search_keys:
        - openstack
        - mesos
        - docker
        - data science
        - kubernetes
        - flink
        - spark
        - microservices
        - cloud native
        - big data
        - cassandra
        - kafka
        - scala
        - hadoop
        - coreos
        - software circus
        - data engineering
        - devops
locations:
    UK:
        - Manchester
        - Bristol
        - London
        - Birmingham
    DE:
        - Hamburg
        - Berlin
output:
    types:
         - table
         - xlsx
    sheet_name: meetup_mj
